<section class="infoBoard-section">
  <div class="container">
    <div class="row g-6">
      <div class="col-xl-8">
        <div class="infoBoard-section__news">
          <h4 class="h1 text-primary mb-6">Novinky</h4>
          <div class="infoBoard-section__news-row">
            <a href="#" class="infoBoard-section__post">
              <div class="infoBoard-section__post-info">
                <div class="infoBoard-section__post-date">srpna 2023</div>
                <div class="infoBoard-section__post-title">Prodej nových</div>
              </div>
              <img src="images/content/post.jpeg" alt="" />
            </a>
            <a href="#" class="infoBoard-section__post">
              <div class="infoBoard-section__post-info">
                <div class="infoBoard-section__post-date">srpna 2023</div>
                <div class="infoBoard-section__post-title">
                  Prodej nových permanentních vstupenek na sezónu 2023/24
                  zahájen!
                </div>
              </div>
            </a>
            <a href="#" class="infoBoard-section__post">
              <div class="infoBoard-section__post-info">
                <div class="infoBoard-section__post-date">srpna 2023</div>
                <div class="infoBoard-section__post-title">
                  Prodej nových permanentních vstupenek
                </div>
              </div>
            </a>
            <a href="#" class="infoBoard-section__post">
              <div class="infoBoard-section__post-info">
                <div class="infoBoard-section__post-date">srpna 2023</div>
                <div class="infoBoard-section__post-title">
                  Prodej nových permanentních vstupenek na sezónu 2023/24
                  zahájen! Prodej nových permanentních vstupenek na sezónu
                  2023/24 zahájen!
                </div>
              </div>
            </a>
            <a href="#" class="infoBoard-section__post">
              <div class="infoBoard-section__post-info">
                <div class="infoBoard-section__post-date">srpna 2023</div>
                <div class="infoBoard-section__post-title">
                  Prodej nových permanentních vstupenek na sezónu 2023/24
                  zahájen!
                </div>
              </div>
              <img src="images/content/post.jpeg" alt="" />
            </a>
            <a href="#" class="infoBoard-section__post">
              <div class="infoBoard-section__post-info">
                <div class="infoBoard-section__post-date">srpna 2023</div>
                <div class="infoBoard-section__post-title">
                  Prodej nových permanentních vstupenek na sezónu 2023/24
                  zahájen!
                </div>
              </div>
            </a>
            <a href="#" class="infoBoard-section__post">
              <div class="infoBoard-section__post-info">
                <div class="infoBoard-section__post-date">srpna 2023</div>
                <div class="infoBoard-section__post-title">
                  Prodej nových permanentních vstupenek na sezónu 2023/24
                  zahájen!
                </div>
              </div>
              <img src="images/content/post.jpeg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="infoBoard-section__table">
          <h4 class="h1 text-primary mb-6">Tabvlka</h4>
          <div class="o-content">
            <table>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
                <tr class="dukla">
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  </td>
                  <td class="team"><a href="#"> HC Dukla Senica </a></td>
                  <td>22</td>
                  <td>Skóre</td>
                  <td><strong>54</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
