<section class="players-section">
  <div class="container">
    <div class="players-section__inner">
      <h2 class="h5">Brankáři</h2>
      <div class="row players-section__row">
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="h5">Obránci</h2>
      <div class="row players-section__row">
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="h5">Útočníci</h2>
      <div class="row players-section__row">
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="players-section__item">
            <a href="#" class="players-section__img">
              <img
                src="images/content/players.png"
                loading="lazy"
                alt="player"
              />
            </a>
            <div class="players-section__info">
              <a href="#">Karel Skočdopole</a>
              <p>24 let / 181 cm / 76 kg / L</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
