.players-section {
  padding-top: 56px;
  padding-bottom: 80px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 60px;
    padding-top: 40px;
  }
  &__inner {
    max-width: 1140px;
    margin: 0 auto;
    .h5 {
      font-weight: 500;
      font-family: "Bricolage Grotesque", sans-serif !important;
      margin-bottom: 16px;
    }
  }
  &__row {
    padding-bottom: 56px;
    border-bottom: 1px solid var(--color-red);
    margin-bottom: 56px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
      padding-bottom: 40px;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
    &:hover {
      .players-section__info a {
        color: var(--color-red);
      }
      .players-section__img span {
        opacity: 1;
      }
      .players-section__img::after {
        background: rgba(218, 58, 50, 0.64);
      }
    }
  }
  &__info {
    a {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      display: block;
      margin-bottom: 3px;
      text-decoration-color: transparent;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  &__img {
    width: 104px;
    height: 104px;

    display: block;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-family: "Overward", sans-serif;
      font-weight: 400;
      font-size: 54px;
      line-height: 59px;
      letter-spacing: -0.02em;
      text-align: center;
      position: absolute;
      z-index: 2;
      transition: all 0.3s;
      opacity: 0;
      left: 0;
      right: 0;
      text-decoration: none;
      color: var(--color-light);
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      background: transparent;
      transition: all 0.3s;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 4px;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      right: -4px;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: var(--color-yellow);
    }
    img {
      border-radius: 4px;
      object-position: top;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
