<section class="player-section">
  <div class="container">
    <div class="row g-20">
      <div class="col-xl-8">
        <div class="player-section__wrapper">
          <div class="player-section__img">
            <img src="images/content/player.png" loading="lazy" alt="post" />
            <div class="player-section__info">
              <h1 class="player-section__info-num">#67</h1>
              <div class="player-section__info-name">
                Karel <br />
                Skočdopole
              </div>
            </div>
          </div>
          <ul class="player-section__list">
            <li class=" ">
              Narodený
              <span>3. 6. 1998</span>
            </li>
            <li class=" ">
              Vek
              <span>25</span>
            </li>
            <li class=" ">
              Výška
              <span>183 cm</span>
            </li>
            <li class=" ">
              Váha
              <span>80 kg</span>
            </li>
            <li class=" ">
              Post
              <span>Brankár</span>
            </li>
            <li class=" ">
              Hokejka
              <span>Pravá</span>
            </li>
          </ul>
          <div class="player-section__title">Celkové štatistiky</div>
          <div class="o-content">
            <table>
              <tr>
                <thead>
                  <th>Sezóna</th>
                  <th>Z</th>
                  <th>Min</th>
                  <th>Str</th>
                  <th>Ink</th>
                  <th>Zás</th>
                  <th>Prie</th>
                  <th>Úsp</th>
                  <th>SO</th>
                  <th>TM</th>
                </thead>
                <tbody>
                  <tr>
                    <td>2024/2025</td>
                    <td>3</td>
                    <td>180</td>
                    <td>92</td>
                    <td>4</td>
                    <td>88</td>
                    <td>1.33</td>
                    <td>95.65</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>2023/2024</td>
                    <td>10</td>
                    <td>529</td>
                    <td>264</td>
                    <td>23</td>
                    <td>241</td>
                    <td>2.61</td>
                    <td>91.29</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </tr>
            </table>
          </div>
          <hr />

          <div class="player-section__title">Posledných 5 zápasov</div>
          <div class="o-content">
            <table>
              <tr>
                <thead>
                  <tr>
                    <th>Dátum</th>
                    <th>Zápas</th>
                    <th>Skóre</th>
                    <th>Min</th>
                    <th>Str</th>
                    <th>Ink</th>
                    <th>Zás</th>
                    <th>Úsp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2. 11. 2024</td>
                    <td>HC Dukla Senica vs HK Bratislava</td>
                    <td>
                      <a
                        class="text-black text-decoration-underline"
                        href="/match/33"
                        >3:2</a
                      >
                    </td>
                    <td>60</td>
                    <td>34</td>
                    <td>2</td>
                    <td>32</td>
                    <td>94.12</td>
                  </tr>
                  <tr>
                    <td>12. 10. 2024</td>
                    <td>HC Dukla Senica vs MŠK Púchov</td>
                    <td>
                      <a
                        class="text-black text-decoration-underline"
                        href="/match/30"
                        >2:1</a
                      >
                    </td>
                    <td>60</td>
                    <td>26</td>
                    <td>1</td>
                    <td>25</td>
                    <td>96.15</td>
                  </tr>
                  <tr>
                    <td>28. 9. 2024</td>
                    <td>HC Dukla Senica vs MHA Martin</td>
                    <td>
                      <a
                        class="text-black text-decoration-underline"
                        href="/match/28"
                        >3:1</a
                      >
                    </td>
                    <td>60</td>
                    <td>32</td>
                    <td>1</td>
                    <td>31</td>
                    <td>96.88</td>
                  </tr>
                  <tr>
                    <td>17. 3. 2024</td>
                    <td>HC Dukla Senica vs MŠK Púchov</td>
                    <td>
                      <a
                        class="text-black text-decoration-underline"
                        href="/match/26"
                        >2:4</a
                      >
                    </td>
                    <td>58</td>
                    <td>27</td>
                    <td>4</td>
                    <td>23</td>
                    <td>85.19</td>
                  </tr>
                  <tr>
                    <td>16. 3. 2024</td>
                    <td>HC Dukla Senica vs MŠK Púchov</td>
                    <td>
                      <a
                        class="text-black text-decoration-underline"
                        href="/match/25"
                        >5:1</a
                      >
                    </td>
                    <td>21</td>
                    <td>10</td>
                    <td>0</td>
                    <td>10</td>
                    <td>100</td>
                  </tr>
                </tbody>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>
