<section class="hp-fanshop">
  <div class="container">
    <div class="matchSchedule__header">
      <h2 class="h1 text-white">Top fanshopu</h2>
      <a href="#" class="btn btn-secondary">Přejít do fanshopu</a>
    </div>
    <div class="hp-fanshop__inner">
      {% include "@components/product/product-hp.twig" %} {% include
      "@components/product/product-hp.twig" %} {% include
      "@components/product/product-hp.twig" %} {% include
      "@components/product/product-hp.twig" %} {% include
      "@components/product/product-hp.twig" %} {% include
      "@components/product/product-hp.twig" %} {% include
      "@components/product/product-hp.twig" %} {% include
      "@components/product/product-hp.twig" %}
    </div>
  </div>
</section>
