<section class="article-section">
  <div class="container">
    <div class="article__item">
      <img src="images/content/post.jpeg" loading="lazy" alt="post" />
      <div class="article__info">
        <div class="article__title">
          Hokejová vášeň v podání HC Dukla Senica: Síla a jednota na ľade
        </div>
        <ul class="article__tags">
          <li class="date">srpna 2023</li>
          <li class="tag">Klub</li>
        </ul>
      </div>
    </div>
  </div>
</section>
