<section class="statistics-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto">
        <div class="statistics-section__inner">
          <p class="p4 mb-10 d-block">
            Vysvětlivky položek naleznete dole pod tabulkami.
          </p>
          <div class="o-content">
            <table>
              <tr>
                <thead>
                  <tr>
                    <th><a href="#">#</a></th>
                    <th><a href="#">BRANKÁŘ</a></th>
                    <th><a href="#">Z</a></th>
                    <th><a href="#">Min</a></th>
                    <th><a href="#">Stř</a></th>
                    <th><a href="#">Ink</a></th>
                    <th><a href="#">Zás</a></th>
                    <th><a href="#">Prů</a></th>
                    <th><a href="#">Úsp</a></th>
                    <th><a href="#">SO</a></th>
                    <th><a href="#">A</a></th>
                    <th><a href="#">TM</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34</td>
                    <td>99</td>
                    <td>88</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34</td>
                    <td>99</td>
                    <td>88</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34</td>
                    <td>99</td>
                    <td>88</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                </tbody>
              </tr>
            </table>
            <table>
              <tr>
                <thead>
                  <tr>
                    <th><a href="#">#</a></th>
                    <th><a href="#">Hráči v poli</a></th>
                    <th><a href="#">P</a></th>
                    <th><a href="#">Z</a></th>
                    <th><a href="#">G</a></th>
                    <th><a href="#">A</a></th>
                    <th><a href="#">B</a></th>
                    <th><a href="#">+/-</a></th>
                    <th><a href="#">TM</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a href="#">Jan Štovíček</a></td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                </tbody>
              </tr>
            </table>
          </div>
          <div class="statistics-section__info">
            <div class="statistics-section__info-title">
              Vysvětlivky sloupců
            </div>
            <div class="mb-5 text-primary bold">BRANKÁŘI</div>
            <ul class="mb-5">
              <li>
                <strong># </strong>- číslo dresu v posledním zápase (pro případ,
                že by se měnilo)
              </li>
              <li>
                <strong>Z </strong>- počet zápasů, v nichž brankář nastoupil
              </li>
              <li><strong>Min </strong>- počet odchytaných minut</li>
              <li>
                <strong>Stř </strong>- počet střel vyslaných na brankářeInk -
                počet inkasovaných gólů
              </li>
              <li><strong>Zás </strong>- počet zásahů</li>
              <li>
                <strong>Prů </strong>- průměr gólů na zápas ( = inkasované góly
                / minuty/60 )
              </li>
              <li>
                <strong>Úsp </strong>- úspěšnost zásahů ( = zásahy / střely )
              </li>
              <li><strong>SO </strong>- shut-outy, vychytané nuly</li>
              <li><strong>A </strong>- asistenceTM - trestné minuty</li>
            </ul>
            <hr />
            <div class="mb-5 text-primary bold">Hráči v poli</div>
            <ul class="mb-5">
              <li>
                <strong># </strong>- číslo dresu v posledním zápase (pro případ,
                že by se měnilo)
              </li>
              <li><strong>Z </strong>- počet zápasů, v nichž hráč nastoupil</li>
              <li><strong>P </strong>- post (obránce nebo útočník)</li>
              <li><strong>Z - P - G, A, B</strong> - góly, asistence, body</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
