<section class="about-section">
  <div class="sectionMenu">
    <div class="container-small">
      <ul class="menuTabs">
        <li>
          <div class="menuTab active" data-id="tab1">Základné informacie</div>
        </li>
        <li>
          <div class="menuTab" data-id="tab2">Vedenie klubu</div>
        </li>
        <li>
          <div class="menuTab" data-id="tab3">Logotyp</div>
        </li>
        <li>
          <div class="menuTab" data-id="tab4">Ponuka spolupráce</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-small">
    <div class="menuTab__content tab-active" id="tab1">
      <div class="about-section__information">
        <div class="about-section__title">Základní informacie</div>

        <div class="row g-6">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Jméno klubu</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Založen</p>
              <span>1989</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Držitel licence</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Adresa</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>IČO</p>
              <span>53550811</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>DIČ</p>
              <span>2121463047</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Bankovní spojení</p>
              <span>21214647/5800</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Telefon</p>
              <span>+421 877 888 888</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>E-mail</p>
              <span
                ><a href="mailto:sekretar@duklasenica.cz"
                  >sekretar@duklasenica.cz</a
                ></span
              >
            </div>
          </div>
        </div>
        <hr />
        <div class="about-section__title">Dceřiná společnost (chod A týmu)</div>
        <div class="row g-6">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Jméno klubu</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Založen</p>
              <span>1989</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Držitel licence</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Adresa</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>IČO</p>
              <span>53550811</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>DIČ</p>
              <span>2121463047</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Bankovní spojení</p>
              <span>21214647/5800</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Telefon</p>
              <span>+421 877 888 888</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>E-mail</p>
              <span
                ><a href="mailto:sekretar@duklasenica.cz"
                  >sekretar@duklasenica.cz</a
                ></span
              >
            </div>
          </div>
        </div>
        <hr />
        <div class="about-section__title">Dceřiná společnost (chod A týmu)</div>
        <div class="row g-6">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Jméno klubu</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Založen</p>
              <span>1989</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Držitel licence</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Adresa</p>
              <span>HC Dukla Senica</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>IČO</p>
              <span>53550811</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>DIČ</p>
              <span>2121463047</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Bankovní spojení</p>
              <span>21214647/5800</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>Telefon</p>
              <span>+421 877 888 888</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="about-section__box">
              <p>E-mail</p>
              <span
                ><a href="mailto:sekretar@duklasenica.cz"
                  >sekretar@duklasenica.cz</a
                ></span
              >
            </div>
          </div>
        </div>
        <div class="about-section__information-img">
          <img src="images/content/post.jpeg" loading="lazy" alt="post" />
        </div>
      </div>
    </div>
    <div class="menuTab__content" id="tab2">
      <div class="about-section__leadership">
        <div class="row g-6 align-items-end">
          <div class="col-sm-6">
            <div class="about-section__subtitle">Sekretář klubu</div>
            <div class="about-section__box">
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__subtitle">
              Ředitel sportovního úseku klubu, sportovní manažer
            </div>
            <div class="about-section__box">
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__subtitle">
              Ředitel marketingu a obchoního úseku, média, akreditace
            </div>
            <div class="about-section__box">
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__subtitle">Obchod a reklama</div>
            <div class="about-section__box">
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__subtitle">Trenér A-týmu</div>
            <div class="about-section__box">
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__subtitle">Asistent trenéra A-týmů</div>
            <div class="about-section__box">
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__subtitle">
              Hokejový nábor dětí, Učíme děti bruslit, sklad výstroje
            </div>
            <div class="about-section__box">
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="about-section__title">Základní informacie</div>
        <div class="row g-6">
          <div class="col-sm-6">
            <div class="about-section__box">
              <div class="p3">předseda správní rady klubu, jednatel</div>
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__box">
              <div class="p3">předseda správní rady klubu, jednatel</div>
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__box">
              <div class="p3">předseda správní rady klubu, jednatel</div>
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__box">
              <div class="p3">předseda správní rady klubu, jednatel</div>
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__box">
              <div class="p3">předseda správní rady klubu, jednatel</div>
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__box">
              <div class="p3">předseda správní rady klubu, jednatel</div>
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-section__box">
              <div class="p3">předseda správní rady klubu, jednatel</div>
              <span>Karel Skočdopole</span>
              <ul>
                <li><a href="tel:+420725777777">725 777 777</a></li>
                <li>
                  <a href="mailto:karel@duklasenica.cz">karel@duklasenica.cz</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuTab__content" id="tab3">
      <div class="about-section__logotypes">
        <div class="about-section__logotypes-row">
          <div class="about-section__logo">
            <img src="images/content/logo-1.png" loading="lazy" alt="logo" />
          </div>
          <div class="about-section__logo">
            <img src="images/content/logo-2.png" loading="lazy" alt="logo" />
          </div>
          <div class="about-section__logo">
            <img src="images/content/logo-3.png" loading="lazy" alt="logo" />
          </div>
        </div>
        <ul class="about-section__links">
          <li>
            <a class="btn" href="images/content/logo-1.png" download="">
              Loga HC DUKLA SENICA (.zip)
            </a>
          </li>
          <li>
            <a class="btn" href="images/content/logo-1.png" download="">
              Loga HC DUKLA SENICA (.pdf)
            </a>
          </li>
          <li>
            <a class="btn" href="images/content/logo-1.png" download="">
              Logo HC DUKLA SENICA (.jpg)
            </a>
          </li>
          <li>
            <a class="btn" href="images/content/logo-1.png" download="">
              Logo HC DUKLA SENICA (.ai)
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menuTab__content" id="tab4">
      <div class="about-section__reklama">
        <div class="tag">Ponuka</div>
        <h2>Nabídka reklamních ploch</h2>
        <p>Vážení obchodní a sportovní přátelé,</p>
        <p>
          Dovolujeme si Vám předložit nabídku reklamní a marketingové spolupráce
          společnosti HC Dukla Senica na nadcházející sezónu. Snahou managementu
          klubu je vytvořit sponzorům maximálně efektivní a účinnou kampaň
          spojenou se zájmem médií, přítomností mnoha tisíc diváků v průběhu
          sezóny, vytvoření kontaktů mezi podnikateli a v neposlední řadě i
          pohodovou atmosféru při sledování sportovního utkání.
        </p>
        <p>
          Níže přikládáme ke stažení nabídku reklamních možností a údaje
          potřebné k jejich zvážení. Tento materiál vnímáme jako pozvání k
          jednání o možných variantách spolupráce.
        </p>
        <p>
          Věříme, že nalezneme cestu ke společnému cíli, který přinese užitek
          oběma stranám. Můžeme Vás ujistit, že zájmem vedení klubu je vytvořit
          co nejlepší podmínky pro vstup partnera do přerovského hokeje. Těšíme
          se na vzájemné setkání při konkrétních rozhovorech o naší společné
          budoucnosti.
        </p>
        <p>
          <strong>Ing. Tomáš Pluháček jednatel</strong> <br />
          klubu HC Dukla Senica
        </p>
        <a class="btn mt-8" href="images/content/logo.png"
          >Reklamní nabídka pro partnery (.PDF)</a
        >
      </div>
    </div>
  </div>
</section>
