<aside class="aside">
  <div class="aside__title">Brankáři</div>
  <ul class="aside__list">
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#" class="active">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
  </ul>
  <div class="aside__title">Obránci</div>
  <ul class="aside__list">
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
  </ul>
  <div class="aside__title">Útočníci</div>
  <ul class="aside__list">
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
    <li>
      <a href="#">Karel Skočdopole</a>
    </li>
  </ul>
</aside>
