<section class="article-detail">
  <div class="container-small">
    <div class="o-content">
      <div class="perex">
        Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a adrenalinom
        nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa odohrávajú nielen
        rýchle a taktické zápasy, ale tiež sa tu premieta sila tímovej
        spolupráce a individuálnej brilancie. Hoci hokej má svoje korene v
        ďalekej minulosti, stále si udržiava svoju jedinečnú príťažlivosť a
        popularitu.
      </div>
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h2>Historické korene HC Dukla Senica</h2>
        <p>
          Hokej, ako ho poznáme dnes, má korene v 19. storočí a vyvíjal sa v
          niekoľkých krajinách, najmä v Kanade. Prvé pravidlá hokeja boli
          stanovené v roku 1879 a odvtedy sa tento šport rozvíjal a
          zdokonaľoval. Hokej je typický svojou rýchlosťou, fyzickým kontaktom a
          tiež strategickým myslením na ľade.
        </p>
        <p>
          Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
          adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
          odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu premieta
          sila tímovej spolupráce a individuálnej brilancie. Hoci hokej má svoje
          korene v ďalekej minulosti, stále si udržiava svoju jedinečnú
          príťažlivosť a popularitu.
        </p>
      </div>
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h5>Hráčska brilancia a vášeň pre hokej</h5>
        <p>
          Hokej, ako ho poznáme dnes, má korene v 19. storočí a vyvíjal sa v
          niekoľkých krajinách, najmä v Kanade. Prvé pravidlá hokeja boli
          stanovené v roku 1879 a odvtedy sa tento šport rozvíjal a
          zdokonaľoval. Hokej je typický svojou rýchlosťou, fyzickým kontaktom a
          tiež strategickým myslením na ľade.
        </p>
        <p>
          Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
          adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
          odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu premieta
          sila tímovej spolupráce a individuálnej brilancie. Hoci hokej má svoje
          korene v ďalekej minulosti, stále si udržiava svoju jedinečnú
          príťažlivosť a popularitu.
        </p>
      </div>

      <hr />
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h2>Historické korene HC Dukla Senica</h2>
        <p>
          Hokej, ako ho poznáme dnes, má korene v 19. storočí a vyvíjal sa v
          niekoľkých krajinách, najmä v Kanade. Prvé pravidlá hokeja boli
          stanovené v roku 1879 a odvtedy sa tento šport rozvíjal a
          zdokonaľoval. Hokej je typický svojou rýchlosťou, fyzickým kontaktom a
          tiež strategickým myslením na ľade.
        </p>
        <p>
          Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
          adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
          odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu premieta
          sila tímovej spolupráce a individuálnej brilancie. Hoci hokej má svoje
          korene v ďalekej minulosti, stále si udržiava svoju jedinečnú
          príťažlivosť a popularitu.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="article-detail__img">
      <img src="images/content/post.jpeg" loading="lazy" alt="post" />
    </div>
  </div>
  <div class="container-small">
    <div class="o-content">
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h2>Historické korene HC Dukla Senica</h2>
        <p>
          Hokej, ako ho poznáme dnes, má korene v 19. storočí a vyvíjal sa v
          niekoľkých krajinách, najmä v Kanade. Prvé pravidlá hokeja boli
          stanovené v roku 1879 a odvtedy sa tento šport rozvíjal a
          zdokonaľoval. Hokej je typický svojou rýchlosťou, fyzickým kontaktom a
          tiež strategickým myslením na ľade.
        </p>
        <p>
          Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
          adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
          odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu premieta
          sila tímovej spolupráce a individuálnej brilancie. Hoci hokej má svoje
          korene v ďalekej minulosti, stále si udržiava svoju jedinečnú
          príťažlivosť a popularitu.
        </p>
      </div>
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h2>Historické korene HC Dukla Senica</h2>
        <ul>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde</li>
          <li>
            <a href="#">Na výsadbu tak půjde dva miliony korun</a>
          </li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
        </ul>
      </div>

      <div class="mb-14">
        <div class="tag">Historie</div>
        <h5>Historické korene HC Dukla Senica</h5>
        <table>
          <thead>
            <tr>
              <th>1</th>
              <th>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </th>
              <th>
                <strong>HC Dukla Senica</strong>
              </th>
              <th>22</th>
              <th><strong>Skóre</strong></th>
              <th>44</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr class="dukla">
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
