.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  ul {
    margin-top: 12px;
    margin-bottom: 32px !important;
    li {
      position: relative;
      padding-left: 14px;
      display: block;

      margin-bottom: 8px;

      font-size: 14px;
      font-weight: 400;
      line-height: 22px;

      a {
        text-decoration-color: transparent;
        transition: all 0.3s;

        &:hover {
          text-decoration-color: inherit;
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 4px;
        background: url("../images/ico/ul.svg");
        width: 3px;
        height: 6px;
        top: 8px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .perex {
    margin-bottom: 56px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }
  }
  .tag {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-red);
    margin-bottom: 20px;
  }
  h5 {
    font-weight: 500 !important;
  }
  h5,
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  hr {
    border-color: var(--color-red);
    margin-top: 56px;
    margin-bottom: 56px;
    @include media-breakpoint-down(lg) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
.perex {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  color: var(--color-dark-gray);
}
.o-content h1,
.h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 59px;
  @include media-breakpoint-down(lg) {
    font-size: 40px;
    line-height: normal;
  }
}

.o-content h2,
.h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: 55px;
  @include media-breakpoint-down(lg) {
    font-size: 36px;
    line-height: normal;
  }
}

.o-content h5,
.h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Overward", sans-serif;
  font-weight: 400;
}

.p4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-gray);
}

.main {
  background-color: #ebebeb;
}
.mainHome {
  background-color: #000;
  padding-bottom: 64px;
  @include media-breakpoint-down(md) {
    padding-bottom: 40px;
  }
}
.p2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

hr {
  border-width: 1px;
}
