<section class="article-detail">
  <div class="container-small">
    <div class="perex mb-10">
      Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a adrenalinom
      nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa odohrávajú nielen
      rýchle a taktické zápasy, ale tiež sa tu premieta sila tímovej spolupráce
      a individuálnej brilancie. Hoci hokej má svoje korene v ďalekej minulosti,
      stále si udržiava svoju jedinečnú príťažlivosť a popularitu.
    </div>
    <div class="mb-14">
      <div class="match-detail__wrapper">
        <div class="match-detail">
          <ul class="match-detail__tags">
            <li>srpna 2023</li>
            <li>3 kolo (Tipsport liga 2023/24)</li>
            <li>Stadion HC Dukla Senica</li>
          </ul>
          <div class="match-detail__teams">
            <div class="match-detail__teams-logo">
              <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            </div>
            <div class="match-detail__teams-result win">
              3:1 <span>1:0 | 2:0 | 0:1</span>
            </div>
            <div class="match-detail__teams-logo">
              <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
            </div>
          </div>
          <div class="match-detail__title">
            HC Dukla Senica - HC Baník Sokolov
          </div>
        </div>
        <hr />
        <h6 class="mb-1">Branky a nahrávky</h6>
        <p class="">
          6. J. Veselý (Račuk, Z. Doležal), 7. V. Burian (Z. Doležal), 13.
          Hanousek (Ostřížek, Z. Doležal), 26. Poledna (J. Veselý), 45. Z.
          Doležal (Venkrbec, Hanousek), 60. Šidlík – 14. Bernovský (Koffer), 18.
          Csamango (Vracovský), 30. Procházka (Osmík, Bernovský).
        </p>
        <hr />
        <h6 class="mb-1">Rozhodčí</h6>
        <p>Šudoma, Grygera - Otáhal, Vašíček.</p>
        <hr />
        <h6 class="mb-1">HC Dukla Senica</h6>
        <p>
          Pavelka (Štipčák) – Hanousek, Šidlík, Poledna, Drtil, Pěnčík, Forman,
          Kloz – V. Burian (A), Ostřížek, Z. Doležal – Fronk, Venkrbec (C),
          Jiránek (A) – Illéš, Račuk, J. Veselý – Maruna, Hašek, Slanina.
        </p>
        <hr />
        <h6 class="mb-1">HC Baník Sokolov</h6>
        <p>
          Michajlov (13. Hamalčík) – Tureček, M. Rohan (C), D. Mikyska, Krajčík,
          Klejna, Rulík, Mlčák – Tomeček, Kverka (A), Koffer – Procházka, Osmík,
          Bernovský – Csamango, Vrdlovec, Vracovský – Křemen, D. Novotný, V.
          Adamec.
        </p>
        <hr />
        <ul class="match-detail__list">
          <li>
            Vyloučení
            <span>3:5</span>
          </li>
          <li>
            Využití
            <span>0:0</span>
          </li>
          <li>
            V oslabení
            <span>0:1</span>
          </li>
          <li>Diváci <span>854</span></li>
          <li>Střely na branku <span>48:21</span></li>
          <li>Průběh utkání <span>3:0, 3:2, 4:2, 4:3, 6:3</span></li>
        </ul>
      </div>
    </div>
    <div class="o-content">
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h2>Historické korene HC Dukla Senica</h2>
        <p>
          Hokej, ako ho poznáme dnes, má korene v 19. storočí a vyvíjal sa v
          niekoľkých krajinách, najmä v Kanade. Prvé pravidlá hokeja boli
          stanovené v roku 1879 a odvtedy sa tento šport rozvíjal a
          zdokonaľoval. Hokej je typický svojou rýchlosťou, fyzickým kontaktom a
          tiež strategickým myslením na ľade.
        </p>
        <p>
          Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
          adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
          odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu premieta
          sila tímovej spolupráce a individuálnej brilancie. Hoci hokej má svoje
          korene v ďalekej minulosti, stále si udržiava svoju jedinečnú
          príťažlivosť a popularitu.
        </p>
      </div>
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h5>Hráčska brilancia a vášeň pre hokej</h5>
        <p>
          Hokej, ako ho poznáme dnes, má korene v 19. storočí a vyvíjal sa v
          niekoľkých krajinách, najmä v Kanade. Prvé pravidlá hokeja boli
          stanovené v roku 1879 a odvtedy sa tento šport rozvíjal a
          zdokonaľoval. Hokej je typický svojou rýchlosťou, fyzickým kontaktom a
          tiež strategickým myslením na ľade.
        </p>
        <p>
          Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
          adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
          odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu premieta
          sila tímovej spolupráce a individuálnej brilancie. Hoci hokej má svoje
          korene v ďalekej minulosti, stále si udržiava svoju jedinečnú
          príťažlivosť a popularitu.
        </p>
      </div>

      <hr />
      <div class=" ">
        <div class="tag">Historie</div>
        <h2>Historické korene HC Dukla Senica</h2>
        <p>
          Hokej, ako ho poznáme dnes, má korene v 19. storočí a vyvíjal sa v
          niekoľkých krajinách, najmä v Kanade. Prvé pravidlá hokeja boli
          stanovené v roku 1879 a odvtedy sa tento šport rozvíjal a
          zdokonaľoval. Hokej je typický svojou rýchlosťou, fyzickým kontaktom a
          tiež strategickým myslením na ľade.
        </p>
        <p>
          Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
          adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
          odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu premieta
          sila tímovej spolupráce a individuálnej brilancie. Hoci hokej má svoje
          korene v ďalekej minulosti, stále si udržiava svoju jedinečnú
          príťažlivosť a popularitu.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="article-detail__img">
      <img src="images/content/post.jpeg" loading="lazy" alt="post" />
    </div>
  </div>
  <div class="container-small">
    <div class="o-content">
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h2>Historické korene HC Dukla Senica</h2>
        <p>
          Hokej, ako ho poznáme dnes, má korene v 19. storočí a vyvíjal sa v
          niekoľkých krajinách, najmä v Kanade. Prvé pravidlá hokeja boli
          stanovené v roku 1879 a odvtedy sa tento šport rozvíjal a
          zdokonaľoval. Hokej je typický svojou rýchlosťou, fyzickým kontaktom a
          tiež strategickým myslením na ľade.
        </p>
        <p>
          Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
          adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
          odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu premieta
          sila tímovej spolupráce a individuálnej brilancie. Hoci hokej má svoje
          korene v ďalekej minulosti, stále si udržiava svoju jedinečnú
          príťažlivosť a popularitu.
        </p>
      </div>
      <div class="mb-14">
        <div class="tag">Historie</div>
        <h2>Historické korene HC Dukla Senica</h2>
        <ul>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde</li>
          <li>
            <a href="#">Na výsadbu tak půjde dva miliony korun</a>
          </li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
        </ul>
      </div>

      <div class="mb-14">
        <div class="tag">Historie</div>
        <h5>Historické korene HC Dukla Senica</h5>
        <table>
          <thead>
            <tr>
              <th>1</th>
              <th>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </th>
              <th>
                <strong>HC Dukla Senica</strong>
              </th>
              <th>22</th>
              <th><strong>Skóre</strong></th>
              <th>44</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr class="dukla">
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
              </td>
              <td>
                <strong>HC Dukla Senica</strong>
              </td>
              <td>22</td>
              <td><strong>Skóre</strong></td>
              <td>44</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
