.match-detail {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 24px;
    li {
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;

      span {
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        margin-top: 8px;
      }
    }
  }
  &__wrapper {
    background: rgba(255, 255, 255, 0.24);
    padding: 32px;
    border-radius: 16px;
    @include media-breakpoint-down(md) {
      padding: 24px;
    }
    hr {
      margin-bottom: 20px;
      margin-top: 20px;

      border-color: var(--color-red);
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
  }
  &__teams {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
      gap: 40px;
    }
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }
  &__teams-result {
    font-family: "Overward", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-down(lg) {
      font-size: 40px;
      line-height: normal;
    }
    @include media-breakpoint-down(md) {
      order: 2;
      width: 100%;
    }
    span {
      display: block;
      margin-top: 4px;
      font-family: "Bricolage Grotesque", sans-serif;

      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: var(--color-dark-gray) !important;
    }
  }
  &__teams-logo {
    height: 120px;
    max-width: 110px;
    @include media-breakpoint-down(md) {
      height: 80px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__tags {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -18px;
    margin-right: -18px;
    li {
      padding: 0 18px;
      position: relative;

      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    li + li {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        background-color: var(--color-dark-gray);
        width: 2px;
        height: 2px;
      }
    }
  }
}
