<div class="product">
  <div class="product__img">
    <img src="images/content/product.png" loading="lazy" alt="product" />
  </div>
  <div class="product__info">
    <div class="product__title">Dres Dukla 2023/24</div>
    <div class="product__price">2 000,00 Kč</div>

    <form action="">
      <ul class="product__color">
        <li>
          <input type="radio" name="color" value="red" />
        </li>
        <li>
          <input type="radio" name="color" value="yellow" />
        </li>
      </ul>
    </form>
  </div>
</div>
