.product {
  cursor: pointer;
  &:hover {
    .productModal {
      opacity: 1;
      visibility: visible;
    }
    .product__img {
      border: 1px solid var(--color-red);
    }
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    padding-right: 32px;
    position: relative;
  }
  &__img {
    position: relative;

    width: 100%;
    aspect-ratio: 392/340;
    border-radius: 24px;
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid transparent;
    margin-bottom: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 4px;
    width: 100%;
  }
  &__price {
    color: var(--color-red);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    width: 100%;
  }
  &__color {
    display: flex;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    gap: 8px;
    input[type="radio"] {
      margin: 0;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border-radius: 100%;
      display: block;
      background-color: #fff;
      position: relative;
      border: none;
      &::after {
        border-radius: 100%;
        content: "";
        border-radius: 100%;
        border: 1px solid #fff;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 0;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
      &:checked::before {
        border-radius: 100%;
        content: "";
        border-radius: 100%;
        border: 1px solid #000;
        display: inline-block;
        width: 16px;
        z-index: 2;
        height: 16px;
        position: absolute;
        top: 0px;
        left: 0px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    input[value="red"] {
      accent-color: var(--color-red);
      &::after {
        background: var(--color-red);
      }
    }
    input[value="yellow"] {
      accent-color: var(--color-yellow);

      &::after {
        background: var(--color-yellow);
      }
    }
  }
}
.productModal {
  transition: all 0.3s;
  position: absolute;
  background: rgba(218, 58, 50, 0.72);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    z-index: 2;
  }
}
