.partners-section {
  margin-top: 56px;
  padding-bottom: 32px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 10px;
    margin-top: 40px;
  }
  &__row {
    a {
      aspect-ratio: 400/200 !important;
      @include media-breakpoint-down(md) {
        aspect-ratio: 400/160 !important;
      }
      img {
        height: 80%;
        width: 80%;
      }
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 24px;
  }
  &__wrapper {
    .row {
      margin-bottom: 56px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 40px;
      }
    }
    a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-light);
      border-radius: 16px;
      aspect-ratio: 288/140;
      border: 1px solid transparent;
      transition: all 0.3s;
      @include media-breakpoint-down(md) {
        aspect-ratio: 288/120;
      }
      &:hover {
        border: 1px solid var(--color-red);
      }
      img {
        // width: 100%;
        object-fit: contain;
        height: 80%;
        width: 80%;
      }
    }
  }
}
