<section class="partners-section" id="vse">
  <div class="container">
    <div class="partners-section__wrapper">
      <div id="hlavni" class="partners-section__title">Hlavný partner</div>
      <div class="row g-6 partners-section__row">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
      </div>
      <div id="zlaty" class="partners-section__title">Zlatý partner</div>
      <div class="row g-6 partners-section__row">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
      </div>
      <div id="stribr" class="partners-section__title">Strieborný partner</div>
      <div class="row g-6 partners-section__row">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
      </div>
      <div id="partneri" class="partners-section__title">Partneri</div>
      <div class="row g-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
      </div>
      <div id="medialni" class="partners-section__title">Mediálný</div>
      <div class="row g-6">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <a href="#" target="_blank">
            <img src="images/content/partner.png" loading="lazy" alt="post" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
