<section class="partners-section" id="vse">
  <div class="container">
    <div class="partners-section__wrapper">
      <div id="hlavni" class="partners-section__title">Hlavný partner</div>
      <div class="row g-6 partners-section__row">
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
      </div>
      <div id="zlaty" class="partners-section__title">Zlatý partner</div>
      <div class="row g-6 partners-section__row">
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/4.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/2.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/5.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/6.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/2.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
      </div>
      <div id="zlaty" class="partners-section__title">Strieborný partner</div>
      <div class="row g-6 partners-section__row">
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/4.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/2.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/5.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/6.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/2.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
        <div class="col-md-6 col-xl-4">
          <a href="#" target="_blank">
            <img
              src="images/content/partners/3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </div>
      </div>
    </div>
    
  </div>
</section>
