.postsSlider {
  padding-bottom: 60px;
  background-color: #ebebeb;
  .slick-slide {
    padding: 0 12px;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
  .post {
    aspect-ratio: 600/440 !important;
  }
  &__header {
    padding-top: 40px;
    border-top: 1px solid var(--color-red);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @include media-breakpoint-down(lg) {
      padding-top: 32px;
    }
  }
}
.slick-list {
  overflow: visible;
  position: relative;
  @include media-breakpoint-down(lg) {
    overflow: hidden;
  }
}
.slider__btnprev {
  right: 60px;
}
.slider__btnnext {
  right: 0;
}

.slick-arrow {
  background: transparent;
  border: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: -82px;
  cursor: pointer;
  transition: all 0.3s;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transition: all 0.3s;

  path,
  svg {
    fill: rgba(0, 0, 0, 1);
  }
  &:hover {
    border: 1px solid rgba(0, 0, 0, 1);
  }
}
