<section class="postsSlider">
  <div class="container">
    <div class="postsSlider__header">
      <h4 class="h1 text-primary">Novinky</h4>
    </div>
    <div class="postsSlider__inner">
      {% include "@components/post/post.twig" %} {% include
      "@components/post/post.twig" %} {% include "@components/post/post.twig" %}
      {% include "@components/post/post.twig" %} {% include
      "@components/post/post.twig" %} {% include "@components/post/post.twig" %}
      {% include "@components/post/post.twig" %} {% include
      "@components/post/post.twig" %}
    </div>
  </div>
</section>
