.table-section {
  padding-top: 24px;
  padding-bottom: 68px;
  @include media-breakpoint-down(xl) {
    padding-bottom: 40px;
  }
  tr {
    width: 100%;
    th:first-child,
    td:first-child {
      width: 3.5rem;
    }
    th:nth-child(2),
    td:nth-child(2) {
      width: 100%;
      text-align: left;
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
  td {
    vertical-align: middle;
    strong {
      padding: 0 4px;
      vertical-align: middle;
      color: var(--color-dark);
    }
    img {
      height: 20px;
      width: 20px;
      object-fit: contain;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
