<section class="table-section">
  <div class="container">
    <div class="menuTab__content tab-active" id="tab1">
      <div class="o-content">
        <table>
          <tr>
            <thead>
              <tr>
                <th><a href="#"></a></th>
                <th><a href="#">Tým</a></th>
                <th><a href="#">Z</a></th>
                <th><a href="#">V</a></th>
                <th><a href="#">VP</a></th>
                <th><a href="#">R</a></th>
                <th><a href="#">PP</a></th>
                <th><a href="#">P</a></th>
                <th><a href="#">VB</a></th>
                <th><a href="#">IB</a></th>
                <th><a href="#">B</a></th>
                <th><a href="#">RB</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr class="dukla">
                <td>5</td>
                <td>
                  <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
            </tbody>
          </tr>
        </table>
      </div>
    </div>
    <div class="menuTab__content" id="tab2">
      <div class="o-content">
        <table>
          <tr>
            <thead>
              <tr>
                <th><a href="#"></a></th>
                <th><a href="#">Tým</a></th>
                <th><a href="#">Z</a></th>
                <th><a href="#">V</a></th>
                <th><a href="#">VP</a></th>
                <th><a href="#">R</a></th>
                <th><a href="#">PP</a></th>
                <th><a href="#">P</a></th>
                <th><a href="#">VB</a></th>
                <th><a href="#">IB</a></th>
                <th><a href="#">B</a></th>
                <th><a href="#">RB</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr class="dukla">
                <td>5</td>
                <td>
                  <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
            </tbody>
          </tr>
        </table>
      </div>
    </div>
    <div class="menuTab__content" id="tab3">
      <div class="o-content">
        <table>
          <tr>
            <thead>
              <tr>
                <th><a href="#"></a></th>
                <th><a href="#">Tým</a></th>
                <th><a href="#">Z</a></th>
                <th><a href="#">V</a></th>
                <th><a href="#">VP</a></th>
                <th><a href="#">R</a></th>
                <th><a href="#">PP</a></th>
                <th><a href="#">P</a></th>
                <th><a href="#">VB</a></th>
                <th><a href="#">IB</a></th>
                <th><a href="#">B</a></th>
                <th><a href="#">RB</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr class="dukla">
                <td>5</td>
                <td>
                  <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <img
                    src="images/content/logo-4.png"
                    loading="lazy"
                    alt="logo"
                  />
                  <strong>HC Dukla Senica</strong>
                </td>
                <td>24</td>
                <td>13</td>
                <td>77</td>
                <td>6</td>
                <td>1</td>
                <td>34</td>
                <td>99</td>
                <td>88</td>
                <td><strong>99</strong></td>
                <td>88</td>
              </tr>
            </tbody>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
