<section class="gallery">
  <div class="container">
    <div class="gallery-grid">
      <figure class="gallery-item">
        <a data-gallery="1" data-gallery-id="1" href="#">
          <img src="images/content/post.jpeg" loading="lazy" alt="post" />
        </a>
      </figure>
      <figure class="gallery-item">
        <a data-gallery="1" data-gallery-id="1" href="#">
          <img src="images/content/post.jpeg" loading="lazy" alt="post" />
        </a>
      </figure>
      <figure class="gallery-item">
        <a data-gallery="1" data-gallery-id="1" href="#">
          <img src="images/content/post.jpeg" loading="lazy" alt="post" />
        </a>
      </figure>
      <figure class="gallery-item">
        <a data-gallery="1" data-gallery-id="1" href="#">
          <img src="images/content/post.jpeg" loading="lazy" alt="post" />
        </a>
      </figure>
      <figure class="gallery-item">
        <a data-gallery="1" data-gallery-id="1" href="#">
          <img src="images/content/post.jpeg" loading="lazy" alt="post" />
          <div class="gallery-item__count">34 <span>dalších</span></div>
        </a>
      </figure>
    </div>
  </div>
</section>
