<section class="matches-section">
  <div class="container">
    <div class="menuTab__content tab-active" id="tab1">
      <div class="matches-section__wrapper">
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Foto</a>
              </li>

              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result">16:00</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result lose">6:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <div class="matchItem__result">13:00</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuTab__content" id="tab2">
      <div class="matches-section__wrapper">
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <div class="matchItem__result">13:00</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuTab__content" id="tab3">
      <div class="matches-section__wrapper">
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Report</a>
              </li>
              <li>
                <a href="#">Foto</a>
              </li>
              <li>
                <a href="#">Online</a>
              </li>
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result win">3:4 sn</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Foto</a>
              </li>

              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result">16:00</div>
          </div>
        </div>
        <div class="matchItem">
          <div class="matchItem__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
          <div class="matchItem__info">
            <ul class="matchItem__info-header">
              <li>14. novembra 2023</li>
              <li>Pripravny zapas</li>
            </ul>
            <div class="matchItem__title">
              HC Dukla Senica <span> vs </span> HC Dukla Senica
            </div>
          </div>
          <div class="matchItem__pub">
            <ul class="matchItem__links">
              <li>
                <a href="#">Ohlasy</a>
              </li>
            </ul>
            <div class="matchItem__result lose">6:4 sn</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
