.footer {
  background-color: var(--color-dark);
  padding-top: 50px;
  padding-bottom: 80px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
    padding-top: 0;
  }
  &__logo {
    text-decoration: none;
    margin-top: -32px;

    img {
      width: 82px;
      margin-bottom: 16px;
      object-fit: contain;
      margin: 0 auto 16px;
    }

    &-title {
      max-width: 194px;
      font-family: "Overward", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 47px;
      letter-spacing: 0.5px;
      text-align: left;
      color: var(--color-yellow);
      text-transform: uppercase;
      text-shadow: -1px -1px 0 var(--color-red), 1px -1px 0 var(--color-red),
        -1px 1px 0 var(--color-red), 1px 1px 0 var(--color-red);
      @include media-breakpoint-down(lg) {
        text-align: center;
      }
      @include media-breakpoint-down(sm) {
        font-size: 32px;
        line-height: normal;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }
    .h5 {
      color: var(--color-red);
      margin-bottom: 4px;
      @include media-breakpoint-down(lg) {
        text-align: center;
      }
    }
  }
  &__form {
    padding-top: 40px;
    max-width: 392px;
    @include media-breakpoint-down(lg) {
      order: 3;
      padding-top: 24px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
    form {
      position: relative;
      height: 48px;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      height: 100%;
      padding-left: 24px;
      padding-right: 120px;
    }
    button {
      background-color: transparent;
      outline: none;
      border: none;
      position: absolute;
      right: 24px;
      top: 12px;
      font-size: 14px;
      font-weight: 700;
      line-height: 23px;
      color: var(--color-yellow);
    }
    p {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: var(--color-light);
      opacity: 0.64;
    }
  }
  &__social {
    padding-top: 40px;
    @include media-breakpoint-down(lg) {
      padding-top: 24px;
    }
    .social {
      height: auto;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }
  }
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  a {
    text-decoration-color: transparent;
    transition: all 0.3s;
    color: var(--color-light);
    &:hover {
      text-decoration-color: inherit;
    }
  }
}

.esports {
  display: flex;
  color: var(--color-light);
  text-decoration-color: transparent;
  transition: all 0.3s;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 0px;
  a {
    margin-left: 4px;
    margin-right: 4px;
    height: 21px;
    display: flex;

    align-items: center;
  }
  &:hover {
    text-decoration-color: inherit;
  }
}
