<a href="#" class="post">
  <img src="images/content/post.jpeg" loading="lazy" alt="post" />
  <div class="post__title">
    Prodej nových permanentních vstupenek na sezónu 2023/24 zahájen!
  </div>
  <div class="post__date">srpna 2023</div>
</a>
