.hp-partners {
  padding-top: 64px;
  padding-bottom: 64px;
  @include media-breakpoint-down(xl) {
    padding-bottom: 60px;
    padding-top: 40px;
  }
  .slick-track {
    margin: 0;
  }
  &__inner {
    margin-top: 2.5rem;
    @include media-breakpoint-down(lg) {
      margin-top: 2rem;
    }
  }
  &__item {
    border-radius: 8px;
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 288/120;
    border: 1px solid transparent;
    transition: all 0.3s;
    @include media-breakpoint-down(md) {
      aspect-ratio: 288/180;
    }
    &:hover {
      border: 1px solid var(--color-red);
    }
    img {
      height: 80%;
      object-fit: contain;
      margin: 0 auto;
      width: 80%;
      @include media-breakpoint-down(sm) {
        height: 60px;
      }
    }
  }
  .slick-slide {
    padding: 0 12px;
  }
}
