<section class="hp-partners">
  <div class="container">
    <h5 class="h1 text-primary">Partneri</h5>
    <div class="row g-6 hp-partners__inner">
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img
            src="images/content/partners/1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img
            src="images/content/partners/2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img
            src="images/content/partners/3.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img
            src="images/content/partners/4.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img
            src="images/content/partners/5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img
            src="images/content/partners/6.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
    </div>
  </div>
</section>
