<section class="hp-partners">
  <div class="container">
    <h5 class="h1 mb-10 text-primary mb-10">Partneri</h5>
    <div class="row g-6">
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="hp-partners__item">
          <img src="images/content/partner.png" loading="lazy" alt="post" />
        </a>
      </div>
    </div>
  </div>
</section>
