// @font-face {
//   font-family: "Overward";
//   src: url("../fonts/Overward-Bold.woff2") format("woff2"),
//     url("../fonts/Overward-Bold.woff") format("woff");
//   font-style: normal;
//   font-weight: 700;
// }

@font-face {
  font-family: "Overward";
  src: url("../fonts/Overward-Regular.woff2") format("woff2"),
    url("../fonts/Overward-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
