<section class="matchSchedule">
  <div class="container">
    <div class="matchSchedule__inner">
      <div class="matchSchedule__header">
        <h2 class="h1 text-primary">Následující zápas</h2>
        <a href="#" class="btn btn-secondary">Rozpis zápasů</a>
      </div>
      <div class="matchSchedule__item">
        <ul class="matchSchedule__item-head">
          <li class="text-white">srpna 2023</li>
          <li class="text-secondary">Stadion HC Dukla Senica</li>
        </ul>
        <div class="matchSchedule__teams">
          <div class="matchSchedule__teams-logo">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
          </div>
          <div class="matchSchedule__teams-result">VS</div>
          <div class="matchSchedule__teams-logo">
            <img src="images/content/club-3.png" loading="lazy" alt="logo" />
          </div>
        </div>
        <ul class="matchSchedule__links">
          <li>
            <a href="#" class="btn btn-transparent">Detail zápasu</a>
          </li>
          <li>
            <a href="#" class="btn btn-transparent">Vstupenky</a>
          </li>
        </ul>
      </div>

      <div class="matchSchedule__header">
        <h2 class="h1 text-white">Poslední zápas</h2>
        <a href="#" class="btn btn-secondary">Rozpis zápasů</a>
      </div>
      <div class="matchSchedule__item">
        <ul class="matchSchedule__item-head">
          <li class="text-white">srpna 2023</li>
          <li class="text-secondary">Stadion HC Dukla Senica</li>
        </ul>
        <div class="matchSchedule__teams">
          <div class="matchSchedule__teams-logo">
            <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
          </div>
          <div class="matchSchedule__teams-result">
            3:1 <span>1:0 | 2:0 | 0:1</span>
          </div>
          <div class="matchSchedule__teams-logo">
            <img src="images/content/logo-4.png" loading="lazy" alt="logo" />
          </div>
        </div>
        <ul class="matchSchedule__links">
          <li>
            <a href="#" class="btn btn-transparent">Detail zápasu</a>
          </li>
          <li>
            <a href="#" class="btn btn-transparent">Vstupenky</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
