{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block header %}

<div class="sectionHeader">
  {% include "@components/header/header.twig" %} {% include
  "@components/topstory-section/topstory-section.twig" %}
</div>

{% endblock %} {% block main %}
<div class="mainHome">
  {% include "@components/matchSchedule/matchSchedule.twig" %}
</div>
{% endblock %}
