{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block header %}

<div class="sectionHeader">
  {% include "@components/header/header.twig" %} {% include
  "@components/topstory-section/topstory-section.twig" %}
</div>

{% endblock %} {% block main %}
<div class="mainHome">
  {% include "@components/matchSchedule/matchSchedule.twig" %} {% include
  "@components/infoBoard-section/infoBoard-section.twig" %} {% include
  "@components/hp-fanshop/hp-fanshop.twig" %}
  <div class="pub">
    <div class="container">
      <a href="#" class="pub__item">
        <img
          src="https://via.placeholder.com/1224x400?text=banner 1224/400"
          class="w-100"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
{% include "@components/hp-partners/hp-partners.twig" %} {% endblock %}
