{% extends "@components/base/base.twig" %} {% set title = "03.0_article" %} {%
block header %}

<div class="sectionHeader">
  {% include "@components/header/header.twig" %} {% include
  "@components/article-section/article-section.twig" %}
</div>
{% include "@components/article-detail/article-detail.twig" %} 

{% include "@components/gallery/gallery.twig" %}
{% include
"@components/postsSlider/postsSlider.twig" %} {% endblock %} {% block main %} {%
endblock %}
