{% extends "@components/base/base.twig" %} {% set title = "06.0_about" %} {%
block header %}

<div class="sectionHeader">
  {% include "@components/header/header.twig" %}
  <div class="container">
    <div class="sectionHeader__inner">
      <h1 class="h1">O klubu</h1>
    </div>
  </div>
</div>

{% endblock %} {% block main %}
 
{% include "@components/about-section/about-section.twig" %} {% endblock %}
