{% extends "@components/base/base.twig" %} {% set title = "08.0_team" %} {%
block header %}

<div class="sectionHeader">
   {% include "@components/header/header.twig" %}

</div>

{% endblock %} {% block main %} Hello, World! {% endblock %}
