{% extends "@components/base/base.twig" %} {% set title = "09.0_player" %} {%
block header %}

<div class="sectionHeader">{% include "@components/header/header.twig" %}</div>

{% endblock %} {% block main %}

{% include "@components/player-section/player-section.twig" %}

{% endblock %}
