{% extends "@components/base/base.twig" %} {% set title = "10.0_statistics" %} {%
block header %}

<div class="sectionHeader">
   {% include "@components/header/header.twig" %}
   <div class="container">
      <div class="sectionHeader__inner">
        <h1 class="h1">Statistiky</h1>
        <div class="sectionHeader__menu">
          <label class="sectionHeader__label">
            <select class="js-select">
              <option>2023/24</option>
              <option value="tipsport">2020/21</option>
              <option value="tipsport">2019/20</option>
              <option value="tipsport">2018/19</option>
              <option value="tipsport">2017/18</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block main %} 

{% include
   "@components/statistics-section/statistics-section.twig" %}
{% endblock %}
