{% extends "@components/base/base.twig" %} {% set title = "13.0_partners" %} {%
block header %}

<div class="sectionHeader">
  {% include "@components/header/header.twig" %}

  <div class="container">
    <div class="sectionHeader__inner">
      <h1 class="h1">Partneri klubu</h1>
    </div>
  </div>
</div>
{% endblock %} {% block main %} {% include
"@components/partners-section/partners-section.twig" %} {% endblock %}
