{% extends "@components/base/base.twig" %} {% set title = "14.0_matches" %} {%
block header %}

<div class="sectionHeader">
  {% include "@components/header/header.twig" %}
  <div class="container">
    <div class="sectionHeader__inner">
      <h1 class="h1">zápasy</h1>
      <div class="sectionHeader__menu">
        <label class="sectionHeader__label">
          <select class="js-select">
            <option>Pripravne zapasy 2023/24</option>
            <option value="tipsport">2020/21</option>
            <option value="tipsport">2019/20</option>
            <option value="tipsport">2018/19</option>
            <option value="tipsport">2017/18</option>
          </select>
        </label>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block main %}
<div class="sectionMenu">
  <div class="container">
    <ul class="menuTabs">
      <li>
        <div class="menuTab active" data-id="tab1">Všetky</div>
      </li>
      <li>
        <div class="menuTab" data-id="tab2">Doma</div>
      </li>
      <li>
        <div class="menuTab" data-id="tab3">Vonku</div>
      </li>
    </ul>
  </div>
</div>
{% include "@components/matches-section/matches-section.twig" %}

{% endblock %}
